############################
# Build artifacts
############################
./VaraticPrim/bin/*.*
./VaraticPrim/obj/*.*
./VaraticPrim/[Bb]uild/*.*
./VaraticPrim/[Ll]og/*.*
./VaraticPrim/[Ll]ogs/*.*

# If you use Azure Functions local build output
/VaraticPrim/func.packages/

############################
# IDE / Editor settings
############################
# Visual Studio
/VaraticPrim/.vs/
/VaraticPrim/.idea/
/VaraticPrim/.vscode/*
!/VaraticPrim/.vscode/extensions.json
!/VaraticPrim/.vscode/settings.json
!/VaraticPrim/.vscode/tasks.json
!/VaraticPrim/.vscode/launch.json