############################
# Build artifacts
############################

/VaraticPrim/VaraticPrim/**/[Bb]in/
/VaraticPrim/VaraticPrim/**/[Oo]bj/
/VaraticPrim/VaraticPrim/**/[Bb]uild/
/VaraticPrim/VaraticPrim/**/[Ll]og/
/VaraticPrim/VaraticPrim/**/[Ll]ogs/

############################
# IDE / Editor settings
############################
# Visual Studio
/VaraticPrim/.vs/
/VaraticPrim/.idea/
/VaraticPrim/.vscode/*
!/VaraticPrim/.vscode/extensions.json
!/VaraticPrim/.vscode/settings.json
!/VaraticPrim/.vscode/tasks.json
!/VaraticPrim/.vscode/launch.json